<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <!-- TEST SETTINGS CONFIG -->
  <appSettings>
    <add key="app.url" value="http://www.google.com.ar/" />
    <add key="screenshots.path" value="C:\Testing\screenshots" />
    <add key="wait.timeout" value="60000" />
    <add key="tests.login.username" value="username@makingsense.com" />
    <add key="tests.login.password" value="Pass" />
    <add key="app.screenshot" value="Screenshot" />
  </appSettings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--WEBDRIVERS SECTION-->
      <object name="DriverTarget" type="OpenQA.Selenium.Firefox.FirefoxDriver" singleton="false"></object>
      <!--<object name="DriverTarget" type="OpenQA.Selenium.IE.InternetExplorerDriver" singleton="false"></object>-->      
      <!--object name="DriverTarget" type="OpenQA.Selenium.Chrome.ChromeDriver" singleton="false">
        <constructor-arg index="0" value="Resources"/>
      </object-->
      <!-- ASPECTS SECTION-->
      <object name="customPointcut" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut">
        <property name="patterns">
          <list>
            <value>.FindElement</value>
          </list>
        </property>
      </object>
      <!-- Before Advice: Logging -->
      <object name="methodLoggingBeforeAdvisor" type="Spring.Aop.Support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="customPointcut" />
        <property name="advice">
          <object type="LanderTests.Aspects.MethodLoggingBeforeAdvice" />
        </property>
      </object>
      <!-- After Advice: Logging -->
      <object name="methodLoggingAfterAdvisor" type="Spring.Aop.Support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="customPointcut" />
        <property name="advice">
          <object type="LanderTests.Aspects.MethodLoggingAfterAdvice" />
        </property>
      </object>
      <!-- Around Advice: Performance Logging -->
      <object name="performanceLoggingAroundAdvisor" type="Spring.Aop.Support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="customPointcut" />
        <property name="advice">
          <object type="LanderTests.Aspects.PerformanceLoggingAroundAdvice" />
        </property>
      </object>
      <!-- Throws Advice: Error Handling -->
      <object name="errorHandlingThrowsAdvisor" type="Spring.Aop.Support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="customPointcut" />
        <property name="advice">
          <object type="LanderTests.Aspects.ErrorHandlingThrowsAdvice" />
        </property>
      </object>
      <!-- DRIVER PROXY -->
      <object name="Driver" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="targetName" value="DriverTarget" />
        <property name="isSingleton" value="false" />
        <property name="interceptorNames">
          <list>
            <value>methodLoggingBeforeAdvisor</value>
            <value>methodLoggingAfterAdvisor</value>
            <value>performanceLoggingAroundAdvisor</value>
            <value>errorHandlingThrowsAdvisor</value>
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Set default logging level to DEBUG -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <!-- Set logging for Spring to INFO.  Logger names in Spring correspond to the namespace -->
    <logger name="Spring">
      <level value="INFO" />
    </logger>
  </log4net>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>