<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <!-- TEST SETTINGS CONFIG -->
  <appSettings>
    
    <!--URL to test-->
    <add key="app.url" value="http://devmarqueeworld.com/qa" />
    
    <!-- Path of the screenshots taken while the test is running-->
    <add key="screenshots.path" value="C:\Testing\screenshots" />
    
    <!-- Time for Timeout in MiliSeconds-->
    <add key="wait.timeout" value="600000000" />
    
    <!--User name for Marquee General login-->
    <add key="Marquee.User.General" value="cpecora+558@makingsense.com"/>

    <!--Pass for Marquee General login-->
    <add key="Marquee.pass.General" value="carlitos"/>

    <!--User name for Marquee Artist login-->
    <add key="Marquee.user.artist" value="cpecora+198@makingsense.com"/>

    <!--Pass for Marquee Artist login-->
    <add key="Marquee.pass.artist" value="carlitos"/>

    <!--Name for Marquee Register-->
    <add key="Marquee.register.name" value="Cesar"/>

    <!--LastName for Marquee Register-->
    <add key="Marquee.register.lastname" value="Pecora"/>

    <!--Zip for Marquee Register-->
    <add key="Marquee.register.zip" value="60657"/>

    <!--User name for Marquee Register-->
    <add key="Marquee.register.email" value="cpecora@makingsense.com"/>

    <!--Pass for Marquee General login-->
    <add key="Marquee.register.pass" value="carlitos"/>

    <!--Name of artist for Marquee register-->
    <add key="Marquee.Register.artist.name" value="QA Band"/>

    <!--Facebook of artist for Marquee register-->
    <add key="Marquee.Register.artist.facebook" value="QA Facebook"/>

    <!--website of artist for Marquee register-->
    <add key="Marquee.Register.artist.website" value="QA website"/>

    <!--Myspace of artist for Marquee register-->
    <add key="Marquee.Register.artist.myspace" value="QA Myspace"/>

    <!--Twitter of artist for Marquee register-->
    <add key="Marquee.Register.artist.twitter" value="QA twitter"/>

    <!--Name of the user-->
    <add key="Marquee.account.name" value="AccountName"/>

    <!--LastName of the user-->
    <add key="Marquee.account.lastname" value="AccountLasteName"/>

    <!--Name of the user-->
    <add key="Marquee.account.name" value="AccountName"/>

    <!--Zip code of the user-->
    <add key="Marquee.account.zip" value="60657"/>

    <!--Path of a video to upload    **We change to a image because until we find another way to upload a video on the repository**-->
    <add key="Marquee.upload.imagepath" value="Files to upload\VideoSuccesfully.mp4"/>

    <!--Path of a image to upload-->
    <add key="Marquee.upload.imagepath" value="Files to upload\Image.jpg"/>

    <!--Tittle of the video to upload-->
    <add key="Marquee.upload.tittle" value="QA Tittle"/>

    <!--Description of the video to upload-->
    <add key="Marquee.upload.description" value="QA description of a video"/>
    
  </appSettings>
</configuration>