<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <!-- TEST SETTINGS CONFIG -->
  <appSettings>
    
    <!--URL to test-->
    <add key="app.url" value="http://devmarqueeworld.com/qa" />
    
    <!-- Path of the screenshots taken while the test is running-->
    <add key="screenshots.path" value="C:\Testing\screenshots" />
    
    <!-- Time for Timeout in MiliSeconds-->
    <add key="wait.timeout" value="60000" />
    
    <!--User name for Marquee General login-->
    <add key="Marquee.User.General" value="cpecora@makingsense.com"/>

    <!--Pass for Marquee General login-->
    <add key="Marquee.pass.General" value="carlitos"/>

    <!--User name for Marquee Artist login-->
    <add key="Marquee.user.artist" value="cpecora@makingsense.com"/>

    <!--Pass for Marquee Artist login-->
    <add key="Marquee.pass.artist" value="carlitos"/>

    <!--Name for Marquee Register-->
    <add key="Marquee.register.name" value="Cesar"/>

    <!--LastName for Marquee Register-->
    <add key="Marquee.register.lastname" value="Pecora"/>

    <!--Zip for Marquee Register-->
    <add key="Marquee.register.zip" value="60657"/>

    <!--User name for Marquee Register-->
    <add key="Marquee.register.email" value="cpecora@makingsense.com"/>

    <!--Pass for Marquee register-->
    <add key="Marquee.Register.pass" value="carlitos"/>
    
  </appSettings> 
</configuration>